<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="Components Functionalities Test" >
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="components.Test.AccordionTest" />
            <class name="components.Test.AlertTest2" />
            <class name="components.Test.AlertTest_UsingString" />
            <class name="components.Test.BreadcrumbTest" />
            <class name="components.Test.ButtonTest" />
            <class name="components.Test.CheckBoxTest" />
            <class name="components.Test.DropDownTest" />
            <class name="components.Test.ModalTest" />
            <class name="components.Test.ModalTestUsingString" />
        </classes>
    </test>


</suite>
